<div class="company-item">
  <div class="company-item-logo">
    <img [src]="company.logo" alt="company-logo">
  </div>
  <div class="company-item-info">
    <h2 class="company-item-title">
      <span>{{company.business_name}}</span>
      <span>{{company.suffix}}</span>
    </h2>
    <div class="company-item-info-description">
      <p>{{company.industry}}</p>
      <p>{{company.catch_phrase}}</p>
    </div>
    <p>{{company.phone_number}}</p>
    <p>{{company.full_address}}</p>
  </div>
</div>
